@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab:wght@400;500&family=Volkhov&display=swap');

*{

    margin:0;
    padding:0;
   
    font-family: "Roboto",sans-serif;
}

